# Toy_problem_merge_by_row_size
### Thomas Moore - thomas.moore@csiro.au
### Date: 2018-06-27 
##### Notes: This is toy example to help me think through how to merge the "cast" data with the observations in the IQuOD datset
##### The analogy is that the "Child" data is the "casts" data and the "Pets" data is the observations.  "# of pets" is analogous to the observations "row_size" in the IQuOD dataset

#### Setup basics

In [10]:
#setup
from IPython.display import display, Markdown
import pandas as pd

<hr>

## initialise and create toy problem

In [11]:
child_df = pd.DataFrame()
pet_df = pd.DataFrame()

In [12]:
child_df = pd.DataFrame({
    'Child ID':[1,2,3],
    'Child Birth Year':[2010,2014,2015],
    '# of pets':[2,1,3]})
child_df

   Child ID  Child Birth Year  # of pets
0         1              2010          2
1         2              2014          1
2         3              2015          3

In [13]:
pet_df = pd.DataFrame({
    'Pet ID':[1,2,3,4,5,6],
    'Pet Age':[10,6,8,1,15,4]})
pet_df

   Pet ID  Pet Age
0       1       10
1       2        6
2       3        8
3       4        1
4       5       15
5       6        4

## initialise "answer" dataframe

In [14]:
answer_DF = pet_df
answer_DF

   Pet ID  Pet Age
0       1       10
1       2        6
2       3        8
3       4        1
4       5       15
5       6        4

## initialise the lists we will concat into the new columns

In [15]:
Child_Birth_Year = []
Child_ID = []

# Here is the loop that does the work

In [16]:
##### Thought: can I "DASK BAG" the below for distributing a bigger problem? Hmmmm . . .

for index, row in child_df.iterrows():
    this_length = row['# of pets']
    this_Child_Birth_Year = [row['Child Birth Year']]*this_length
    this_Child_ID = [row['Child ID']]*this_length
    Child_Birth_Year.append(this_Child_Birth_Year)
    Child_ID.append(this_Child_ID)

## concat to create the new columns

In [17]:
answer_DF['Child Birth Year'] = np.concatenate(Child_Birth_Year)
answer_DF['Child ID'] = np.concatenate(Child_ID)

# The Answer

In [18]:
answer_DF

   Pet ID  Pet Age  Child Birth Year  Child ID
0       1       10              2010         1
1       2        6              2010         1
2       3        8              2014         2
3       4        1              2015         3
4       5       15              2015         3
5       6        4              2015         3