# Toy_problem_merge_by_row_size
### Thomas Moore - thomas.moore@csiro.au
### Date: 2018-06-27 
##### Notes: This is toy example to help me think through how to merge the "cast" data with the observations in the IQuOD datset
##### The analogy is that the "Child" data is the "casts" data and the "Pets" data is the observations.  "# of pets" is analogous to the observations "row_size" in the IQuOD dataset

#### Setup basics

In [1]:
#setup
from IPython.display import display, Markdown
import pandas as pd
import numpy as np

<hr>

## initialise and create toy problem

In [2]:
child_df = pd.DataFrame({
    'Child ID':[1,2,3],
    'Child Birth Year':[2010,2014,2015],
    '# of pets':[2,1,3]})
child_df

   # of pets  Child Birth Year  Child ID
0          2              2010         1
1          1              2014         2
2          3              2015         3

In [3]:
pet_df = pd.DataFrame({
    'Pet ID':[1,2,3,4,5,6],
    'Pet Age':[10,6,8,1,15,4]})
pet_df

   Pet Age  Pet ID
0       10       1
1        6       2
2        8       3
3        1       4
4       15       5
5        4       6

## Create an array of child IDs to use as an join index

In [4]:
child_id = []
for index, row in child_df.iterrows():
    child_id.extend( [row['Child ID']] * row['# of pets'])
child_id = np.array(child_id)
child_id

array([1, 1, 2, 3, 3, 3])

## Now join the two tables

In [5]:
answer_DF = pd.merge(pet_df, child_df, left_on=child_id, right_on='Child ID', how='inner')

# The Answer

In [6]:
answer_DF

   Pet Age  Pet ID  # of pets  Child Birth Year  Child ID
0       10       1          2              2010         1
1        6       2          2              2010         1
2        8       3          1              2014         2
3        1       4          3              2015         3
4       15       5          3              2015         3
5        4       6          3              2015         3